<form method="post" action="/admin/artist/<%=@artist.id%>/edit">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/><br />

  <label for="Style">Style:</label>
  <input id="style" type="text" name="style"/><br />

  <input type='submit' value="Update your artist"/>
</form>
