<form method="post" action="/admin/artist">
  <laber for="name">Name:</label>
    <input id="name" type="text" name="name"/>

    <laber for="style">Style:</label>
      <input id="style" type="text" name="style"/>

      <input type='submit' value="Create artist"/>
    </form>
