<div id="large_image">
  <a href="/exhibits">Our collection</a>
</div>

  <h3>Our recent acquisitions...</h3>

  <div class="gallery">
  <a target="_blank" href="/images/girl_at_the_window.jpeg">
    <img src="/images/girl_at_the_window.jpeg" alt="Fjords" width="200" height="200">
  </a>
  <div class="desc">"Girl at the window" celebrate his 40 years!</div>
</div>

<div class="gallery">
  <a target="_blank" href="/images/the_melting_watch.jpeg">
    <img src="/images/the_melting_watch.jpeg" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">A masterpiece of Salvador Dali</div>
</div>

<div class="gallery">
  <a target="_blank" href="/images/the_persistence_of_memory.jpeg">
    <img src="/images/the_persistence_of_memory.jpeg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">A masterpiece of Salvador Dali</div>
</div>
